:root{
    width: 1400px;
    height: 3143px;
    background-color:white;
    margin:0 auto;
    /* font-size:14px; */
}
body{
    border:3px;
}
header{
    width:1400px;
    height:44px;
    background-color: #4cb1ca;
    color:#e3f1f5;  
}
header div:first-child{
    width: 168px;
    height: 44px;
    float:left;
}
header div:nth-of-type(2n){
    width: auto;
    height: 13px;
    margin-top:12px;
    margin-left:20px;
    float:left;
}
header div:nth-of-type(2n+3){
    width: auto;
    /* height: 13px; */
    margin-top:12px;
    margin-left:2px;
    float:left;
}
header img{
    width: 13px;
    /* height: 13px; */
    margin-top: 16px;
    margin-left: 2px;
    float:left;
    cursor: pointer;
}
header ul{
    width:457px;
    height: 13px;
    margin-top:0;
    margin-left:860px;
}
header li{
    margin-top:13px;
    margin-left:12px;
    list-style: none;
    float:left;
    font-size: 16px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}
header li:hover{
    transition:transform 0.2s ease-in-out;
    transform: scale(1.4,1.4);
}
section{
    height: 590px;
    text-transform: uppercase;
}
h1{
    width: auto;
    height: 26px;
    font-size: 36px;
    font-weight: bold;
    margin-left:190px;
    margin-top:38px;
    float:left;
}   
section ul{
    width: 346px;
    height: 10px;
    margin-top:51px;
    /* margin-left:59px; */
    font-size: 14px;;
    float:left;
    
}
section li{
    list-style: none;
    padding-left:19px;
    float:left;
    cursor: pointer;
}
section img:first-of-type{
    width: auto;
    height: 29px;
    margin-left: 164px;
    margin-top: 42px;
    float:left;
    cursor: text;
}
section span{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top:35px;
    margin-left:10px;
    cursor: pointer;
}
section span:nth-of-type(1){
    background-image: url('../img/icon_label.png');
}
section span:nth-of-type(2){
    background-image: url('../img/icon_backet.png'); 
}
.cart{
    width: 80px;
    height: 20px;
    margin-top:45px;
    margin-right: 109px;
    float:right;
    font-weight: bold;
}
.back_fone{
    height: 475px;
    background-image: url('../img/Back_glass.png');
    border-left:5px solid #1e0500;
    margin-top:30px;
}
section div span{
    width: 70px;
    height: 69px;
    display: inline-block;
    margin-top:215px;
}
section div span:nth-child(1){
    margin-left:120px;
    background-image: url('../img/Left_arrow.png');
}
section div span:nth-child(2){
    margin-left:1024px;
    background-image: url('../img/Right_arrow.png');
}
#rect_label{
    position: relative;
    height: 97px;   
    /* width: 330px; */
    top:-130px;
    left:82px;
    display: inline-block;
    background-image: url('../img/pic_on_label.png');
    cursor:default;
}
main{
    width: 975px;
    height: 1900px;
    float:left;
}
main div{
    text-transform: uppercase;
}
main>p{
    width: 242px;
    height: 17px;  
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left:181px;
    text-transform: uppercase;
    font-size: 24px;
}
main span{
    width: 240px;
    height: 250px;
    display: inline-block;
    overflow: hidden;
    margin-top:27px;
    margin-left:27px;
}
main ::after{
    color:#7db122;
    font-size: 20px;
    float:left;
}
/* 1 row */
main div:nth-of-type(1) span:nth-child(1){
    margin-left:184px;
    background-image: url('../img/row_1/glass_11.png');
}
main div:nth-of-type(1) span:nth-child(2){
    background-image: url('../img/row_1/glass_12.png');
}
main div:nth-of-type(1) span:nth-child(3){
    background-image: url('../img/row_1/glass_13.png');
}
main div:nth-of-type(2n+1) span:hover{
    transition: transform 0.5s ease-in-out;
    transform:scale(1.5,1.5);
}
main div:nth-of-type(2n+2) span:nth-child(1){
    margin-left:184px;
}
main div:nth-of-type(2n+2) span{
    width: 223px;
    height: 60px;
    text-transform:initial;
    margin-top:-2px;
    margin-left:26px;
    padding-left:11px;
    font-size: 18px;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}
main div:nth-of-type(2n+2) img{
    margin-right: 4px;
    margin-top: 4px;
    float:right;
    cursor:pointer;
}
main div:nth-of-type(2n+2) p{
    margin-top:6px;
    margin-left:0px;
    color:green;
    font-size: 22px;
}
#discount::before{
    content: "460$";
    font-size: 18px;
    text-decoration: line-through;
    color:black;
}
/* 2 row */
main div:nth-of-type(3) span:nth-child(1){
    margin-left:184px;
    background-image: url('../img/row_2/glass_21.png');
}
main div:nth-of-type(3) span:nth-child(2){
    background-image: url('../img/row_2/glass_22.png');
}
main div:nth-of-type(3) span:nth-child(3){
    background-image: url('../img/row_2/glass_23.png');
}
/* 3 row */
main div:nth-of-type(5) span:nth-child(1){
    margin-left:184px;
    background-image: url('../img/row_3/glass_31.png');
}
main div:nth-of-type(5) span:nth-child(2){
    background-image: url('../img/row_3/glass_32.png');
}
main div:nth-of-type(5) span:nth-child(3){
    background-image: url('../img/row_3/glass_33.png');
}
/* 4 row staff pick */
main div:nth-of-type(7) span:nth-child(1){
    margin-left:184px;
    background-image: url('../img/row_4/glass_41.png');
}
main div:nth-of-type(7) span:nth-child(2){
    background-image: url('../img/row_4/glass_42.png');
}
main div:nth-of-type(7) span:nth-child(3){
    background-image: url('../img/row_4/glass_43.png');
}
main div:nth-of-type(7) span:hover{
    transition: transform 1s ease-in-out;
    transform:rotateY(180deg);
}
/* 5 row new product */
main div:nth-of-type(9) span:nth-child(1){
    margin-left:184px;
    background-image: url('../img/row_5/glass_51.png');
}
main div:nth-of-type(9) span:nth-child(2){
    background-image: url('../img/row_5/glass_52.png');
}
main div:nth-of-type(9) span:nth-child(3){
    background-image: url('../img/row_5/glass_53.png');
}
main div:nth-of-type(9) span:hover{
    transition: transform 1s ease-in-out;
    transform:rotateY(180deg);
}
/* side bar */
aside{
    width: 234px;
    height: 800px;
    float:right;
    margin-top: 50px;
    margin-right: 170px;
}
aside div{
    border:4px solid #eeeeee;
}
aside div:nth-child(1){
    width: 234px;
    height: 420px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding-top:32px;
    border-top: 5px solid #4cb1ca;   
}    
/* aside div:nth-of-type(1) img{
    margin-top: 1px;
    margin-left: 1px;
} */
aside div:nth-of-type(2){
    width: 234px;
    height: 41px;
    border-top:0px;
}
aside span{
    margin-left: 9px;
    line-height: 45px;
    cursor: pointer;
}
aside img{
    margin-top: -24px;
}
aside a{
    color:white;
    text-decoration:none;
}
aside div:nth-of-type(2) span:first-child{
    margin-top:10px;
    margin-left: 90px; 
}
#rect{
    position: relative;
    width: 124px;
    height: 36px;
    top:285px;
    left:61px;
    padding-top: 15px;
    background-color: #4cb1ca;
    font-size: 16px;
    border:none;
    cursor: pointer;
    text-transform: initial;
}
aside div:nth-of-type(3){
    width: 234px;
    height: 282px;
    margin-top:30px;
    margin-left: 0px; 
    border-top: 5px solid #4cb1ca;  
    text-align: center; 
}
aside div:nth-of-type(3) p:first-of-type{
    width: 154px;
    height: 46px;
    margin-top:31px;
    margin-left: 37px; 
    text-transform: uppercase;
    
    font-size: 24px;
}
aside div:nth-of-type(3) p:nth-of-type(2){
    width: 187px;
    height: 34px;
    margin-top:23px;
    margin-left: 25px; 
    font-size: 14px;
}
aside div:nth-of-type(3) p:nth-of-type(3){
    width: 186px;
    height: 30px;
    margin-top:25px;
    margin-left: 25px; 
    border: 4px solid #eeeeee;
    cursor: text;
}
aside div:nth-of-type(3) p:nth-of-type(4){
    width: 113px;
    height: 45px;
    margin-top:17px;
    margin-left: 64px; 
    background-color: #7eb123;
    color:white;
    line-height: 42px;
    cursor: pointer;
}


footer{
    clear: both;
    padding-top:60px;
}
.footer_0{
    width: 1400px;
    height: 106px;
    background-color: #4cb1ca;
    margin-top:50px;
    text-transform: uppercase;
} 
.footer_0 span{
    display:inline-block;
    margin-top:40px;
    margin-left:273px;
    font-size: 21px;
    color: white;
}
.footer_0 div{
    position: relative;
    top:-88px;
    left:-100px;
}
#phone{
    margin-left:300px;
}
.footer_1{
    width: 1400px;
    height: 398px;
    background-color: #39a0b9;
    color:white;
    font-size: 16px;
}
.facebook{
    width: 233px;
    height: 265px;
    float:left;
    margin-left:187px;
    margin-top:61px;
    color:white;
}
.footer_1 p:nth-of-type(1){
    margin-top:0px;
    margin-bottom: 28px;
    font-size: 22px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_1 p:nth-of-type(2){
    margin-bottom: 0px;
}
.facebook span{
    margin-top:5px;
    margin-left:3px;
    padding-top:5px;
}
.facebook p{
    margin-top:6px;
    margin-bottom: 5px;;
}
.facebook hr{
    color: #4CB1CA;
    margin:2px
}
.twitter{
    width: 233px;
    height: 285px;
    float:left;
    margin-left:52px;
    margin-top:61px;
}
.twitter span{
    color: #9ae2f4; 
}
.twitter img{
    position: relative;
    float:left;
    cursor: pointer;
}
.information{
    width: 233px;
    height: 285px;
    float:left;
    margin-left:52px;
    margin-top:61px;
}
.information ul{
    list-style-type:"\00BB";
    padding-top:5px;
    padding-left:10px;
}
.footer_1 li{
    padding-top:8px;
    padding-left: 10px; ;
}
.footer_1 a{
    color:white;
    text-decoration: none;
}
.contact{
    width: 233px;
    height: 285px;
    float:left;
    margin-left:52px;
    margin-top:61px;
}
.contact ul{
    list-style-type: none;;
    padding-top:5px;
    padding-left:0px;
}
.footer_2{
    width: 1400px;
    height: 65px;
    background-color: #0b4b5a;
    color:white;
}
.footer_2 div{
    width: 550px;
    height: 13px;
    padding-top:25px;
    margin-top:0px;
    margin-left:192px;
    float:left;
}
.footer_2 ul{
    margin: 0;
}
.footer_2 li{
    margin-top:25px;
    margin-left:7px;
    list-style: none;
    float:left;

}
.footer_2 a{
    text-decoration: none;
    color:white;
}
.footer_2 ul span{
    padding-left:10px;
}

.facebook img:first-child:hover, #phone:hover, .contact li:nth-child(4):hover, .contact li:nth-child(5):hover {
    transition:transform 0.1s ease-in-out;
    transform: scale(1.4,1.4);
}