:root{
    margin: 0 auto;
    background-color:#dfcbcb;
}
body{
    width: 755px;
    height: 2653px;
    margin: auto;
    background-color: #f2f2f2;
}
dl{
    margin-top: 0;
}
.empty{
    width: 100%;
    height: 20px;
}
dt{
    width: 100%;
    height: 50px;
    padding: 30px 0px 0px 20px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
}
hr{
    width: 701px;
    height: 6px;
    float:left;
    background: url(../img/wave.png) bottom repeat-x;   
    border:none;
}
.dot{
    height: 23px;
    margin-bottom: 18px;
    overflow: hidden;
    border-bottom: 2px dotted #8f8888;
}
dd{
    margin-left:20px;
}
.block div:nth-child(2){
    width: auto;
    float:left;
    padding-top:6px;
    padding-bottom: 8px;
    font-size: 20px;
    color:#b88e3a;
    font-weight: bold;
}
.block div:last-child{
    font-size: 14px;
}
img{
    width: 140px;
    height: 95px;
    float:left;
    padding-right: 10px;
}
.block{
    width: 93%;
    height: 120px;
}
dd::after{
    height: 22px;
    margin-top:-70px;
    padding-left: 5px;
    float:right;
    font-size:20px;
    background-color: #F2F2F2;
    color: #949604;
}
/* Brealfast */
dd:nth-child(3)::after{
    content: "$2,00";
}
dd:nth-child(4)::after{
    content: "$4,50";
}
dd:nth-child(5)::after{
    content: "$12,50";
}
dd:nth-child(6)::after{
    content: "$10,50";
}
/* Hot Starters */
dd:nth-child(9)::after{
    content: "$8,00";
}
dd:nth-child(10)::after{
    content: "$6,50";
}
dd:nth-child(11)::after{
    content: "$12,50";
}
/* Salads */
dd:nth-child(14)::after{
    content: "$3,50";
}
dd:nth-child(15)::after{
    content: "$8,50";
}
dd:nth-child(16)::after{
    content: "$10,50";
}
/* Soups */
dd:nth-child(19)::after{
    content: "$6,80";
}
dd:nth-child(20)::after{
    content: "$4,50";
}
dd:nth-child(21)::after{
    content: "$18,50";
}
dd:nth-child(22)::after{
    content: "$7,15";
}
/* Main Course */
dd:nth-child(25)::after{
    content: "$6,80";
}
dd:nth-child(26)::after{
    content: "$4,50";
}
dd:nth-child(27)::after{
    content: "$18,50";
}
dd:nth-child(28)::after{
    content: "$7,15";
}